<% provide :title, "Help" %>
<h1>Help</h1>
<p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://www.railstutorial.org/help">Rails Tutorialhelp page</a>.
    To get help on this sample app, see the
    <%= link_to href:"http://www.railstutorial.org/book" do %>
        <em>Ruby on RailsTutorial</em> book.
    <% end %>
</p>