
<tr>
  <td><%= product.name %></td>
  <td><%= link_to t("products.form.show"), product %></td>
  <td><%= link_to t("products.form.edit"), edit_product_path(product) %></td>
  <td><%= link_to t("products.form.destroy"), product, method: :delete, data: { confirm: t("products.form.confirm_destroy") } %></td>
</tr>
