<h1><%= t("products.edit.title") %></h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to t("products.edit.show"), @product %> |
  <%= link_to t("products.edit.back"), products_path %>
</div>
