<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th colspan="3"></h1>
    </tr>
  </thead>

    <body>
      <%= render(@products) || "No Products" %> 
    </body>
</table>


<%= link_to "New product", new_product_path %>
